<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uiimage_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,62}}</string>
                <key>sourceSize</key>
                <string>{240,62}</string>
            </dict>
            <key>uiimage_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,65},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>uiimage_xuanqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengluzhuce_ui.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c82c289533261877074b5efb637e627$</string>
            <key>textureFileName</key>
            <string>dengluzhuce_ui.png</string>
        </dict>
    </dict>
</plist>
