<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colourbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,122}}</string>
                <key>sourceSize</key>
                <string>{554,122}</string>
            </dict>
            <key>fight_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{116,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,67}}</string>
                <key>sourceSize</key>
                <string>{116,67}</string>
            </dict>
            <key>fight_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,181},{86,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,47}}</string>
                <key>sourceSize</key>
                <string>{86,47}</string>
            </dict>
            <key>fighticon_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,306},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fighticon_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,284},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fighticon_qunti.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,284},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ms_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{126,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,1},{126,160}}</string>
                <key>sourceSize</key>
                <string>{416,164}</string>
            </dict>
            <key>ms_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,202},{164,164}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{416,164}</string>
            </dict>
            <key>ms_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,368},{158,160}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,1},{158,160}}</string>
                <key>sourceSize</key>
                <string>{416,164}</string>
            </dict>
            <key>ms_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,269},{128,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>ms_daw.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,528},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>ms_fa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>ms_fa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,36},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>ms_fa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,168},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>ms_fagod.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,298},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>ms_fakill.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,516},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>ms_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{416,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,164}}</string>
                <key>sourceSize</key>
                <string>{416,164}</string>
            </dict>
            <key>ms_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{322,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,161}}</string>
                <key>sourceSize</key>
                <string>{322,161}</string>
            </dict>
            <key>ms_nsjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,168},{365,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,99}}</string>
                <key>sourceSize</key>
                <string>{365,99}</string>
            </dict>
            <key>ms_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>ms_rwwc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{368,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,98}}</string>
                <key>sourceSize</key>
                <string>{368,98}</string>
            </dict>
            <key>ms_sgod.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,89},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ms_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,125}</string>
            </dict>
            <key>ms_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,207},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>ms_sudu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,172},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>ms_sudu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,149},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>ms_sudu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,126},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>ms_sudux.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,269},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>ms_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,240},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>ms_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,121},{58,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,37}}</string>
                <key>sourceSize</key>
                <string>{58,37}</string>
            </dict>
            <key>ms_wanl.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,734},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>ms_wanw.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,605},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>ms_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,656},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>ms_xiaol.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,774},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>ms_xiaow.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,644},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,124}</string>
            </dict>
            <key>ms_xil.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,863},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>s_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,389},{144,74}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,74}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>s_beginf.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,126},{166,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,74}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>s_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{142,74}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>uitt_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{243,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,125}}</string>
                <key>sourceSize</key>
                <string>{243,125}</string>
            </dict>
            <key>uitt_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,269},{246,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,127}}</string>
                <key>sourceSize</key>
                <string>{246,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font_png.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47b56d37c033366c9f32cbd9c66b7663$</string>
            <key>textureFileName</key>
            <string>font_png.png</string>
        </dict>
    </dict>
</plist>
