<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acceleration.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>arrmy_commond.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,192},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_arrmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,294},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>button_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{101,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,40}}</string>
                <key>sourceSize</key>
                <string>{101,40}</string>
            </dict>
            <key>button_echoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,188},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>button_employ.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,82},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>button_mspay.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,386},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>button_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{121,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,51}}</string>
                <key>sourceSize</key>
                <string>{123,51}</string>
            </dict>
            <key>button_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,344},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>button_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>button_surrender.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{100,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,41}}</string>
                <key>sourceSize</key>
                <string>{100,41}</string>
            </dict>
            <key>c_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{116,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,42}}</string>
                <key>sourceSize</key>
                <string>{116,42}</string>
            </dict>
            <key>c_cbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,501},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>c_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,100},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>c_diilight.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,355},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>c_ilight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>c_ishadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>c_pman.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,5},{348,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,18}}</string>
                <key>sourceSize</key>
                <string>{348,18}</string>
            </dict>
            <key>c_tskuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,192},{1,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,210}}</string>
                <key>sourceSize</key>
                <string>{1,210}</string>
            </dict>
            <key>camp_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{1,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,358}}</string>
                <key>sourceSize</key>
                <string>{1,358}</string>
            </dict>
            <key>custom_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,480}}</string>
                <key>sourceSize</key>
                <string>{1,480}</string>
            </dict>
            <key>custom_ndiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{1,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,323}}</string>
                <key>sourceSize</key>
                <string>{1,323}</string>
            </dict>
            <key>customs_kdlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,135},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>customs_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,499},{39,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>customs_outk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>customs_outkperson.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,17},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>di_aabkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,17},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>di_aput.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,101},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>di_fover.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,8},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>di_mmicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,239},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>di_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>di_vblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,173},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hp_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,11},{264,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,15}}</string>
                <key>sourceSize</key>
                <string>{264,15}</string>
            </dict>
            <key>hp_greenf.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,11},{264,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,15}}</string>
                <key>sourceSize</key>
                <string>{264,15}</string>
            </dict>
            <key>j_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{1,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,450}}</string>
                <key>sourceSize</key>
                <string>{1,450}</string>
            </dict>
            <key>j_ndiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,82},{1,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,368}}</string>
                <key>sourceSize</key>
                <string>{1,368}</string>
            </dict>
            <key>mm_bingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,401},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,46},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>mm_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,277},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>mm_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,367},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,339},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_jianzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,400},{54,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,489},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mm_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,305},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_shijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,457},{58,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>mm_yidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,429},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mmiconout.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,461},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>production_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,11},{1,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,323}}</string>
                <key>sourceSize</key>
                <string>{1,323}</string>
            </dict>
            <key>rewardstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,280},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>shop_cbottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>t_zymbptb.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,457},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>uiicon_out1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,463},{50,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,55}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>uiicon_out2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,428},{50,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{50,55}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_window_frame03.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abad12c083418a36c596c79782b20747$</string>
            <key>textureFileName</key>
            <string>main_window_frame03.png</string>
        </dict>
    </dict>
</plist>
