<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_bluedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,84},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>c_ckuangls.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,163},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>c_ckuanglx.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,157},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>c_ckuangrs.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,230},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>c_ckuangrx.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,230},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>c_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,158},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>c_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,219},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>c_expkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,34},{128,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,4}}</string>
                <key>sourceSize</key>
                <string>{128,4}</string>
            </dict>
            <key>c_expkuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{136,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,14}}</string>
                <key>sourceSize</key>
                <string>{136,14}</string>
            </dict>
            <key>c_gline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,2}}</string>
                <key>sourceSize</key>
                <string>{200,2}</string>
            </dict>
            <key>c_hkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,96},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>c_pdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,72},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>c_pkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,163},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cartoon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,98},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>custom_bdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,60},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>customs_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,162},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>customs_starbdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,198},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>di_ajieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,222},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>di_ashow.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,185},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>di_bdownl.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,6},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>di_bdownlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,6},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>di_bdownr.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,187},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>di_bdownz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>di_cbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,198},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>di_fadlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,242},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>di_fadr.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,140},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>di_fadrf.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,40},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>di_fal.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,70},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>di_falf.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,72},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>di_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,140},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>di_farf.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,130},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>di_faz.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,242},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>di_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,70},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>di_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,70},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>di_lnenough.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,98},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>di_ncheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,40},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>di_news.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,72},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>di_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,60},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>di_shadowt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{54,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,8}}</string>
                <key>sourceSize</key>
                <string>{54,8}</string>
            </dict>
            <key>di_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,160},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>di_wpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,190},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hp_ahead.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,98},{62,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,8}}</string>
                <key>sourceSize</key>
                <string>{62,8}</string>
            </dict>
            <key>hp_aheadman.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,132},{60,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,6}}</string>
                <key>sourceSize</key>
                <string>{60,6}</string>
            </dict>
            <key>j_contentd.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mm_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mm_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,232},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>morale_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{60,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,6}}</string>
                <key>sourceSize</key>
                <string>{60,6}</string>
            </dict>
            <key>name_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,242},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>new_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,198},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>plan_fover.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,20},{134,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,12}}</string>
                <key>sourceSize</key>
                <string>{134,12}</string>
            </dict>
            <key>power_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,6},{134,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,12}}</string>
                <key>sourceSize</key>
                <string>{134,12}</string>
            </dict>
            <key>takebackan.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,60},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>top_routr.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,96},{6,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,30}}</string>
                <key>sourceSize</key>
                <string>{6,30}</string>
            </dict>
            <key>top_skuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,60},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_window_frame02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be522ba8db35d12a483711bdbdc0b745$</string>
            <key>textureFileName</key>
            <string>main_window_frame02.png</string>
        </dict>
    </dict>
</plist>
