<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz_xqgb.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,194},{27,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{27,29}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>login_forget.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,30}}</string>
                <key>sourceSize</key>
                <string>{136,30}</string>
            </dict>
            <key>loginan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>lt_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,50}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>lt_enterl.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,228},{92,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{92,51}</string>
            </dict>
            <key>lt_worldl.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,194},{92,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{92,51}</string>
            </dict>
            <key>main_interface_menu_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,232},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>main_interface_menu_switch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,234},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>main_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>menu_arrmyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,290},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_buildan.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,340},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_friendan.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,281},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_helpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,309},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_hqgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,111},{91,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>menu_movean.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,278},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_pvpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,110},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>message_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,69},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sc_quickenan.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,204},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>shop_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,270},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>shop_addnew.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{135,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,81}}</string>
                <key>sourceSize</key>
                <string>{135,81}</string>
            </dict>
            <key>shop_cheap.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,69},{135,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,81}}</string>
                <key>sourceSize</key>
                <string>{135,81}</string>
            </dict>
            <key>shop_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,130},{120,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,62}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>shop_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,247},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>shop_cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,225},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>shop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{74,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>shop_leftoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,221},{34,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{34,67}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>shop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,54},{74,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>shop_rightoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,152},{34,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{34,67}}</string>
                <key>sourceSize</key>
                <string>{74,103}</string>
            </dict>
            <key>supply_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>ty_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,172},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>unitinfoan.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,300},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>yd_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,350},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>yd_cx.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,343},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>yd_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,304},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>yd_uncs.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>yd_unqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>special_btn_set2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996c7780ef5a56ef798e2bb4076fe7b4$</string>
            <key>textureFileName</key>
            <string>special_btn_set2.png</string>
        </dict>
    </dict>
</plist>
