<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_dialog_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,141}}</string>
                <key>sourceSize</key>
                <string>{656,141}</string>
            </dict>
            <key>ui_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{380,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,243}}</string>
                <key>sourceSize</key>
                <string>{380,243}</string>
            </dict>
            <key>uidenglu_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,933},{170,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>uidenglu_dengluanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{170,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>uidenglu_fuwuqibiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,38},{276,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,34}}</string>
                <key>sourceSize</key>
                <string>{276,34}</string>
            </dict>
            <key>uidenglu_fuwuqibiankuangxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{276,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,34}}</string>
                <key>sourceSize</key>
                <string>{276,34}</string>
            </dict>
            <key>uidenglu_renwubiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,583},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>uidenglu_renwudiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{1,1}}</string>
                <key>offset</key>
                <string>{-52,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>uidenglu_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,555},{40,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{40,36}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>uidenglu_touxiangxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,452},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>uidenglu_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,628},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>uidenglu_tuichuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,593},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>uidenglu_xuanfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,555},{376,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,63}}</string>
                <key>sourceSize</key>
                <string>{376,63}</string>
            </dict>
            <key>uidenglu_xuanfuanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{376,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,63}}</string>
                <key>sourceSize</key>
                <string>{376,63}</string>
            </dict>
            <key>uidenglu_xuanfudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,583},{374,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,391}}</string>
                <key>sourceSize</key>
                <string>{374,391}</string>
            </dict>
            <key>uidenglu_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,416},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
            <key>uidenglu_zhuceanxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,380},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
            <key>uidenglu_zhucediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,74},{507,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,250}}</string>
                <key>sourceSize</key>
                <string>{507,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_denglu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:093ffead7a4a92ded1de13618b23f032$</string>
            <key>textureFileName</key>
            <string>ui_denglu.png</string>
        </dict>
    </dict>
</plist>
