<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uitianti_bigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{6,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,480}}</string>
                <key>sourceSize</key>
                <string>{6,480}</string>
            </dict>
            <key>uitianti_canjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,646},{278,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,80}}</string>
                <key>sourceSize</key>
                <string>{278,80}</string>
            </dict>
            <key>uitianti_canjia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{278,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,80}}</string>
                <key>sourceSize</key>
                <string>{278,80}</string>
            </dict>
            <key>uitianti_chetui.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,728},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>uitianti_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,948},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>uitianti_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{497,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,16}}</string>
                <key>sourceSize</key>
                <string>{497,16}</string>
            </dict>
            <key>uitianti_gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{497,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,16}}</string>
                <key>sourceSize</key>
                <string>{497,16}</string>
            </dict>
            <key>uitianti_jiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,344},{153,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,216}}</string>
                <key>sourceSize</key>
                <string>{153,216}</string>
            </dict>
            <key>uitianti_jifenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,344},{146,115}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{204,115}</string>
            </dict>
            <key>uitianti_jinduman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{497,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,16}}</string>
                <key>sourceSize</key>
                <string>{497,16}</string>
            </dict>
            <key>uitianti_littlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,987},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>uitianti_littletitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,948},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>uitianti_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,492},{126,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{126,94}}</string>
                <key>sourceSize</key>
                <string>{240,94}</string>
            </dict>
            <key>uitianti_midbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,987},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>uitianti_midtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{187,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,42}}</string>
                <key>sourceSize</key>
                <string>{187,42}</string>
            </dict>
            <key>uitianti_midwenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{340,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,307}}</string>
                <key>sourceSize</key>
                <string>{340,307}</string>
            </dict>
            <key>uitianti_paihangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,987},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>uitianti_paihangmybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1002},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>uitianti_paimingdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,988},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>uitianti_paimingup.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,858},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>uitianti_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,728},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>uitianti_rongyubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,866},{149,119}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{151,123}</string>
            </dict>
            <key>uitianti_rongyuduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,728},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>uitianti_rongyuduihuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,866},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>uitianti_shuzhiheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,987},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>uitianti_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,58}}</string>
                <key>sourceSize</key>
                <string>{800,58}</string>
            </dict>
            <key>uitianti_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{800,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,23}}</string>
                <key>sourceSize</key>
                <string>{800,23}</string>
            </dict>
            <key>uitianti_title2down.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{11,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,642}}</string>
                <key>sourceSize</key>
                <string>{11,642}</string>
            </dict>
            <key>uitianti_yujirongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,988},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_tianti.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ec57e4bd7f71133f806e5086828b69e$</string>
            <key>textureFileName</key>
            <string>ui_tianti.png</string>
        </dict>
    </dict>
</plist>
