<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uishijie_anniuchangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>uishijie_anxiaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,61},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>uishijie_guanbidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>uishijie_shuaxintubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,433},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>uishijie_titlediban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,66}}</string>
                <key>sourceSize</key>
                <string>{400,66}</string>
            </dict>
            <key>uishijie_wanjiaxingming.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,31},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>uishijie_xingqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,70},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,222},{150,112}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,222},{150,112}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,247},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,70},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,247},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishijie_xingqiu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>uishjie_jixutansuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uishijie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a596f5b6d7f773175ae9afbb3382e86$</string>
            <key>textureFileName</key>
            <string>uishijie.png</string>
        </dict>
    </dict>
</plist>
