<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_50tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,102},{60,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{60,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_bbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,200},{92,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_ftkp.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,384},{60,88}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{60,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_ftkxs.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,398},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_hjtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{68,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_hsbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,302},{72,94}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{72,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_hsbd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_hsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,294},{58,88}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{58,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,364},{72,86}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jdld.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{70,90}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{70,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{96,84}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,384},{84,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,102},{64,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_jxjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,294},{60,88}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{60,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_lfbbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{78,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{78,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_qikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_qjtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_qxtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,204},{64,96}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{64,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_tjzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{68,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{68,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_tjzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,276},{72,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{72,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_tzzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,90}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{70,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_zdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{78,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{78,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_zhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,186},{48,88}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sc_zhz.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,452},{56,82}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{56,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uishangcheng_shangpin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7abebbd2b5559626ba9f3f7c6f165386$</string>
            <key>textureFileName</key>
            <string>uishangcheng_shangpin.png</string>
        </dict>
    </dict>
</plist>
